<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="../css/weather.css">
</head>
<body>
    


<div class="widget">
            
    <div class="left-panel panel">
        <div class="date">
           <%= date %>
        </div>
        <div class="city">
           <%= cityName %>
        </div>
        <div class="temp">
           <img src=<%= url %> alt="" width="60">
          <%= temp %>&deg; 
        </div>
        <div class="desc">
            <%= desc %>
        </div>
    </div>
  

</div>

<a class="btn btn-primary" href="/">Go Back</a>


<%- include("./partials/footer") -%>